include:
  - project: "GNOME/citemplates"
    file: "templates/default-rules.yml"
  - component: "gitlab.gnome.org/GNOME/citemplates/gnomeos-basic-ci@master"
    inputs:
      # FIXME: currently we don't have lua, should fix that at some point
      meson-options: "-Dlua51=false -Dgtk_doc=true"
      run-tests: "no"
      scan-build: "disabled"
  - component: "gitlab.gnome.org/GNOME/citemplates/basic-deploy-docs@master"
  - component: "gitlab.gnome.org/GNOME/citemplates/release-service@master"
    inputs:
      dist-job-name: "build-gnomeos"
      tarball-artifact-path: "_builddir/meson-dist/$CI_PROJECT_NAME-$CI_COMMIT_TAG.tar.xz"

