stages:
  - 'build'
  - 'deploy'

.build:
  image: 'registry.fedoraproject.org/fedora:43'
  stage: 'build'
  variables:
    CCACHE_BASEDIR: "${CI_PROJECT_DIR}"
    CCACHE_DIR: "${CI_PROJECT_DIR}/_ccache"
    DEPS: >-
      gcc
      ccache
      gettext
      meson
      ninja-build
      redhat-rpm-config
      glib2-devel
      gtk3-devel
      python3-devel
      xorg-x11-server-Xvfb
      git
      pip
      gobject-introspection-devel
  before_script:
    - "dnf install -y $DEPS"
    - 'mkdir -p _ccache'
    - 'ccache --zero-stats'
    - 'ccache --show-stats'
    - 'pip install markdown markupsafe pygments jinja2 toml typogrify'
  after_script:
    - 'ccache --show-stats'
  cache:
    key: "$CI_JOB_NAME"
    paths:
      - '_ccache/'

build peas:
  extends: '.build'
  script:
    - 'meson setup -Dwidgetry=false -Dintrospection=true -Dvapi=true -Ddemos=false -Dgtk_doc=false _build .'
    - 'ninja -C _build test'

build peas-gtk:
  extends: '.build'
  script:
    - 'meson setup -Dwidgetry=true -Dglade_catalog=true -Dintrospection=true -Dvapi=true -Dgtk_doc=false _build .'
    - 'xvfb-run -a -s "-screen 0 1024x768x24"  ninja -C _build test'
